body{
	background-color: #d8d8d8;
	padding-top: 60px;

	position: absolute;
}.grid{
	
	display: grid;
	width: auto;
	justify-content: center;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, 9px);
	grid-template-rows: repeat(autofit, minmax(11px, 11px));
	grid-auto-rows: 11px;
	margin-bottom: 10px;
	
}.grid > * {
	-webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}.knot{
	position: relative;
	height: 180px;
	width: 180px;
	border: 2px solid #a87332;
	grid-column: 2 span;
	grid-row: 1 span;
	display: flex;
	align-items: center;
	
	justify-content: center;
	font-weight: bold;
	font-size: 25px;
	float: left;
	background: #7b7a7a;
	color:#000;
	font-size: 20;
	-webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%);
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}#shell{

	width: 2160px;
	
}.table{
	
	text-align: center;
	
}.table div{
	
	
	margin: 0px auto;
	
}.knot img{
	
	width: 48px;
	height: 48px;
	
	margin-left: 0px;
	margin-bottom: 28px;
	
} p span {
	font-weight: bold;
}
 body {
	 overflow-x: hidden;
}